.menu-bar{
    background-color: dodgerblue;
    margin: 0px;
    padding: 5px;
    justify-content: center;
    display: flex;
    gap: 19px;
    align-items: center;
}
.menu-items{
    display: flex;
    list-style-type: none;
    gap: 18px;
    color: #fff;
    cursor: pointer;
}
.menu-items a{
    color: white;
    text-decoration: none;
}